@import "tailwindcss";

body {
  background-color: #f9f4ff;
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
  text-align: right;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
.rounded-text {
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
}
